<div class="authors-container">
  <div class="header">
    <h1 i18n="@@authors.listTitle">Authors</h1>
    <a mat-raised-button color="primary" routerLink="/authors/new">
      <mat-icon>add</mat-icon>
      <span i18n="@@authors.addButton">Add Author</span>
    </a>
  </div>

  @if (loading()) {
    <div class="loading">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  } @else if (authors().length === 0) {
    <div class="empty-state">
      <mat-icon>person</mat-icon>
      <p i18n="@@authors.noAuthorsFound">No authors found</p>
      <a mat-raised-button color="primary" routerLink="/authors/new" i18n="@@authors.addFirstAuthor"
        >Add Your First Author</a
      >
    </div>
  } @else {
    <div class="authors-grid">
      @for (author of authors(); track author.id) {
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ author.name }}</mat-card-title>
            @if (author.nationality) {
              <mat-card-subtitle>{{ author.nationality }}</mat-card-subtitle>
            }
          </mat-card-header>
          <mat-card-content>
            @if (author.birthDate) {
              <p class="date"><strong i18n="@@author.born">Born:</strong> {{ author.birthDate | date }}</p>
            }
            @if (author.biography) {
              <p class="biography">{{ author.biography }}</p>
            }
          </mat-card-content>
          <mat-card-actions>
            <a mat-button [routerLink]="['/authors', author.id]">
              <mat-icon>visibility</mat-icon>
              <span i18n="@@common.view">View</span>
            </a>
            <a mat-button [routerLink]="['/authors', author.id, 'edit']">
              <mat-icon>edit</mat-icon>
              <span i18n="@@common.edit">Edit</span>
            </a>
            <button mat-button color="warn" (click)="deleteAuthor(author.id!)">
              <mat-icon>delete</mat-icon>
              <span i18n="@@common.delete">Delete</span>
            </button>
          </mat-card-actions>
        </mat-card>
      }
    </div>
  }
</div>
