<mat-toolbar color="primary">
  <span class="toolbar-title">{{ 'app.title' | translate }}</span>
  <span class="spacer"></span>

  @if (auth.isAuthenticated$ | async) {
    <a mat-button routerLink="/books" routerLinkActive="active">{{ 'nav.books' | translate }}</a>
    <a mat-button routerLink="/authors" routerLinkActive="active">{{ 'nav.authors' | translate }}</a>
    <a mat-button routerLink="/collections" routerLinkActive="active">{{ 'nav.collections' | translate }}</a>
    <a mat-button routerLink="/search" routerLinkActive="active">{{ 'nav.search' | translate }}</a>

    <app-language-switcher></app-language-switcher>

    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
      @if (auth.user$ | async; as user) {
        {{ user.name }}
      }
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>{{ 'nav.logout' | translate }}</span>
      </button>
    </mat-menu>
  } @else {
    <app-language-switcher></app-language-switcher>

    <button mat-button (click)="login()">
      <mat-icon>login</mat-icon>
      <span>{{ 'nav.login' | translate }}</span>
    </button>
  }
</mat-toolbar>
